{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Review Rooster</title>
  <link rel="stylesheet" type="text/css" href="{% static 'revroaster/css/design.css' %}">
</head>

<body>
<div id="wrapper1">
<div id="imgmar">
<a href="/home"><img src="{% static 'revroaster/images/logo.jpeg' %}" height=55px width=300px/></a>
</div>
    </div>
  <div id="wrapper2">
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
<div>
<div id="shift2">
<form method="post" action="/searchurl/" id="shift2">

    {% csrf_token %}
    <input type="text" name="url" value="" required autofocus>
      <button type="submit">Search</button>
</form>
</div>
<div id="please">
<div id="nameprint">
<a href= {{ url }} id="nameprint"> {{ name }}</a>
</div>
<div id="imageprint">
<img src= {{ image }} height=200px width=300px />
</div>
</div>
<div id="confidence">
<p id="confidenceprint">{{ score }}</p>
</div>
<div id="reviews">
<ul id="comments-list" class="comments-list">
     {% for rev in positive %}
      <li>
          <!-- Avatar -->
          <!-- Contenedor del Comentario -->
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name by-author-positive">{{ rev.name }}</h6>
              <i class="fa fa-reply"></i>
              <i class="fa fa-heart"></i>
              <i class="fa fa-heart"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
              {{ rev.review }}
            </div>
          </div>
      </li>
      {% endfor %}
      {% for rev in negative %}
      <li>
          <!-- Avatar -->
          <!-- Contenedor del Comentario -->
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name by-author-negative">{{ rev.name }}</h6>
              <i class="fa fa-reply"></i>
              <i class="fa fa-heart"></i>
              <i class="fa fa-heart"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
              {{ rev.review }}
            </div>
          </div>
      </li>
      {% endfor %}
    </ul>
</div>
</div>
</div>
</body>
</html>

