<!DOCTYPE html>
<html lang="en">
<head>
  <title>Review Rooster</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .searchbox{
     position:fixed;
    top: 40%;
    left: 40%;
  }
  .searchBtn{
    position:relative;
    top:70%;
    left:60%;
  }
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -427px;
  margin-left: -689px;
}
.heading{
position:fixed;
top:5%;
left:10%;

}
.give_c{
  color:red;
  </style>
}
</head>

<body>

<div class="container">
<img src="/static/revroaster/images/bg.png" class="centered">
<form action="/searchurl/" method="post">
    {{ form }}
    <input class="give_c" type="submit" value="Submit" />
    <p>hellloooo</p>
</form>
<h2 class="heading">RevRoaster</h2>


</body>
</html>

