{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Review Rooster</title>
  <link rel="stylesheet" type="text/css" href="{% static 'revroaster/css/design.css' %}">
</head>

<body>
<div id="wrapper1">
<div id="imgmar">
<a href=""><img src="{% static 'revroaster/images/logo.jpeg' %}" height=55px width=300px/></a>
</div>
  	</div>
	<div class="wrapper">
	<img src="{% static 'revroaster/images/background.jpg' %}" />
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<div id="shift">
<form method="post" action="/searchurl/">

    {% csrf_token %}
    <input type="text" name="url" value="" required autofocus>
      <button type="submit">Search</button>
</form>
</div>
</body>
</html>

